In [23]:
import pandas as pd

In [43]:
d0 = {'Сессия каждые N дней': [1, 3]}
d1 = {'Количество уровней в сессию': [3, 6]}
d2 = {'Показы рекламы принудительной каждые N уровней': [4, 8]}
d3 = {'Просмотр рекламы за ежедневную награду каждую N игровую сессию': [1, 3]}
d4 = {'Просмотр рекламы для возрождения и др. за сессию': [1, 3, 5]}
d5 = {'Покупка бустеров каждую N сессию': [3, 6]}
d6 = {'Покупка декоративных элементов каждую N сессию': [5, 10]}

In [44]:
df0 = pd.DataFrame(d0)
df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)
df3 = pd.DataFrame(d3)
df4 = pd.DataFrame(d4)
df5 = pd.DataFrame(d5)
df6 = pd.DataFrame(d6)

In [45]:
df0['key'] = 1
df1['key'] = 1
df2['key'] = 1
df3['key'] = 1
df4['key'] = 1
df5['key'] = 1
df6['key'] = 1

In [49]:
res = df0.merge(df1,on='key').merge(df2,on='key').merge(df3,on='key').merge(df4,on='key').merge(df5,on='key').merge(df6,on='key')

In [53]:
pd.set_option('display.max_rows', None)

In [58]:
res = res.drop('key', axis=1)

In [60]:
res['values'] = [735665,458901,412567,412567,1665826,1151765,1550494,1065972,3398246,2440884,3183598,2281017,735665,318126,496132,279664,1315995,891479,1220773,820592,2746882,1955920,2569471,1823909,635030,383675,578748,341559,1478665,1012532,1374095,934720,3049863,2181441,2855113,2036469,464136,255668,417508,220668,1161465,776428,1075116,712107,2458959,1741690,2298055,1621996,968774,632853,893467,576695,2099911,1474618,1959624,1370281,4205074,3042329,3944524,2848009,740259,462333,677998,415806,1674375,1158124,1558552,1071966,3414153,2452733,3198597,2292186,735665,458901,673665,412567,1665826,1151765,1550494,1065972,3398246,2440884,3183598,2281017,547456,318126,496132,279664,1315995,891479,1220773,820592,2746882,1955920,2569471,1823909,131281,4749,116993,-6096,293178,127141,274376,112966,506889,287729,482016,269079,86426,-29327,73368,-39263,234193,82642,217046,69688,428902,229224,406255,212216,112449,-9547,98679,-20010,268400,108459,250294,94798,474113,263152,450177,245193,69216,-42425,56628,-52015,211596,65568,195080,53079,399058,206809,377260,190426,181535,42831,165856,30959,359393,176991,338720,161438,594569,353401,567181,332898,132327,5542,118009,-5324,294554,128178,275713,113974,508710,289093,483785,270406,131281,4749,116993,-6096,293178,127141,274376,112966,506889,287729,482016,269079,86426,-29327,73368,-39263,234193,82642,217046,69688,428902,229224,406255,212216]

In [74]:
res.sort_values('values',ascending=True).head(3)

,Сессия каждые N дней,Количество уровней в сессию,Показы рекламы принудительной каждые N уровней,Просмотр рекламы за ежедневную награду каждую N игровую сессию,Просмотр рекламы для возрождения и др. за сессию,Покупка бустеров каждую N сессию,Покупка декоративных элементов каждую N сессию,values
135,3,3,8,3,1,6,10,-52015
133,3,3,8,3,1,3,10,-42425
183,3,6,8,3,1,6,10,-39263

In [75]:
res.sort_values('values',ascending=False).head(3)

,Сессия каждые N дней,Количество уровней в сессию,Показы рекламы принудительной каждые N уровней,Просмотр рекламы за ежедневную награду каждую N игровую сессию,Просмотр рекламы для возрождения и др. за сессию,Покупка бустеров каждую N сессию,Покупка декоративных элементов каждую N сессию,values
56,1,6,4,1,5,3,5,4205074
58,1,6,4,1,5,6,5,3944524
68,1,6,4,3,5,3,5,3414153

In [76]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\iryshkov\anaconda3\lib\site-packages (1.6.1)
Requirement already satisfied: numpy in c:\users\iryshkov\anaconda3\lib\site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in c:\users\iryshkov\anaconda3\lib\site-packages (from xgboost) (1.7.3)
Note: you may need to restart the kernel to use updated packages.

In [78]:
res.to_excel('unit.xlsx')